<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Recy'Kids - Ressourcerie Bébé & Enfant</title>
    <meta name="description" content="Recy'Kids : La ressourcerie éco-responsable pour bébés et enfants. Trouvez tout le nécessaire de seconde main.">

    <link rel="stylesheet" href="/css/style.css">

    <link rel="icon" type="image/png" href="/images/favicon.png"> 
    
    </head>